<% provide(:title, 'Admin') %>
<h1>Admin Signin</h1>
<%= form_for :session do |f| %>
  name: <%= f.text_field :name %><br />
  password: <%= f.text_field :password %><br />
  <%= f.submit 'signin'%>
<% end %>