<aside class="sidebar clearfix">
  <div class="intro">
    <%= image_tag "head_shot.jpeg", :class => "head-shot" %>
    <h2 class="by-line">Built by Jerry in Rochester NY</h2>
  </div>
  <div class="github info github-1">
    <a href="http://www.github.com/jvanstry">
      <%= image_tag "github.gif", :class => "github icon" %>
      <h3 class="github username">jvanstry</h3>
    </a>
  </div>
  <div class="twitter info twitter-1">
    <a href="http://www.twitter.com/jvanstry">
      <%= image_tag "twitter.png", :class => "twitter icon" %>
      <h3 class="twitter username">@jvanstry</h3>
    </a>
  </div>
</aside>