<% provide(:title, 'About') %>
<% content_for(:body_class, 'about-page') %>
<section class="container">
  <h1 class="about-title">About<br></h1>
  <p class="about-text">Lorem stuff</p>
</section>
<%= render "shared/sidebar" %>
<%= render "shared/apps_link" %>
<%= render "shared/tags" %>
