<% provide(:title, 'About') %>
<% content_for(:body_class, 'about-page') %>
<section class="container">
  <h1 class="about-title">About<br></h1>
  <p class="about-text">I’ve been learning web development for about a year now and, in this time, I really haven’t built that many full-fledged apps from start to finish. Much of my time has been spent learning the basics of programming, reading about or watching videos on specific aspects of development, or reading code others have written. With “10 apps in 9 Weeks”, I am setting out to turn out an app a week, plus one app I will be working on the entire time, in an effort to see exactly what I’m capable of, see where my skills are actually at, and improve all aspects of my full-stack development skill set. It’s also going to be awesome to have a fun, comprehensive website to hang my hat on when people ask me what I can do and have been doing.</p>
</section>
<%= render "shared/sidebar" %>
<%= render "shared/apps_link" %>
<%= render "shared/tags" %>
