.about-text {
  float: left;
  clear: both;
  width: 65.8285714285%;
  min-height: 342px;
  margin: 61px 0 0 17.1428571428%;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0,0,0);
}

.about-title {
  width: 56.5714285714%;
  min-height: 107px;
  margin: 22px auto 0;
  border-radius: 15px;
  background-color: rgba(4, 24, 114, 0.95);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, .5);
  text-shadow: 2px 0 5px 2px rgba(0, 0, 0, .5);
  font-size: 4.5em;
  line-height: 1.38;
  text-align: center;
  color: rgb(241, 244, 236);
}

.apps-link {
  float: left;
  width: 76.282051282%;
  min-height: 38px;
  margin: 5px 0 0 6%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(243, 12, 12);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  text-shadow: 2px 1px 5px rgba(0, 0, 0, .5);
  font: 1.75em/1.38 Helvetica;
  text-align: center;
}

.abt{
  background-color: rgba(4, 24, 114, 0.952941);
}

.apps-link:hover{
  cursor: pointer;
}

.apps-link a{
  color: rgb(241, 244, 236);
}

.apps-link-container {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 13.2765957446%;
  height: 53px;
  margin: -420px 0 0 79.0638297872%;
}