<div class='container sidebar'>
  <img id='me' src='#'>
  <div class='contact'>
    <div class='github'>
      <a href="#"></a><img src='github.gif'><span>jvanstry</span></a>
    </div>
    <div class='twitter'>
      <a href='#'></a><img src='twitter.png'><span>@jvanstry</span></a>
    </div>
    <div class='email'>
      <span>jvanstry AT gmail.com</span>
    </div>
  </div>
</div>